@model Models.User

@{
	String title = "ویرایش کاربران";
	ViewBag.Title = title;
}

<h2>
	@title
</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.Password)
	@Html.HiddenFor(model => model.ActiveCode)
	@Html.HiddenFor(model => model.RegisterDate)


	<div class="form-group">
		@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.RoleId, "RoleId", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
		</div>
	</div>

	@*<div class="form-group">
			@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			</div>
		</div>*@

	@*<div class="form-group">
			@Html.LabelFor(model => model.ActiveCode, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ActiveCode, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ActiveCode, "", new { @class = "text-danger" })
			</div>
		</div>*@

	<div class="form-group">
		@Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<div class="checkbox">
				@Html.EditorFor(model => model.IsActive)
				@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>

	@*<div class="form-group">
			@Html.LabelFor(model => model.RegisterData, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.RegisterData, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.RegisterData, "", new { @class = "text-danger" })
			</div>
		</div>*@

	<div class="form-group">
		@*<div class="col-md-offset-2 col-md-10">*@
		<div class="col-md-3">
			<input type="submit" value="ویرایش کاربر" class="btn btn-success btn-block" />
		</div>
		@*</div>*@
	</div>
</div>
}

<div class="col-md-3">
	@*@Html.ActionLink("بازگشت به لیست کاربران ", "Index")*@
	<a class="btn btn-default btn-block" href="@Url.Action("Index")">بازگشت به لیست کاربران</a>
</div>
