@using Models

@model IEnumerable<Models.Product>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
	<a class="btn btn-primary" href="@Url.Action("Create")">افزودن محصول جدید</a>
</p>
<table class="table table-bordered table-condensed table-hover table-striped">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ImageName)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.ProductTitle)
		</th>

		<th>
			گروه های محصول
		</th>

		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.CreateDate)
		</th>

		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				<img class="thumbnail" style="margin:8px auto" src="~/Images/ProductImages/Thumbnail/@item.ImageName" />
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.ProductTitle)
			</td>

			<td>
				@if (item.ProductSelectedGroups.Any())
				{
					<ol>
						@foreach (var group in item.ProductSelectedGroups.Where(current => current.ProductGroup.ParentId == null))
						{
							<li>
								@group.ProductGroup.GroupTitle

								<ul>
									@foreach (var subGroup in item.ProductSelectedGroups.Where(current => current.ProductGroup.ParentId == group.GroupId))
									{
										<li>
											@subGroup.ProductGroup.GroupTitle
										</li>
									}
								</ul>

							</li>
						}
					</ol>
				}
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.CreateDate)
			</td>

			<td>
				<a class="btn btn-default btn-sm btn-block" href="@Url.Action("ProductFeature", new { id = item.ProductId})">ویژگی های محصول</a>
				<a class="btn btn-info btn-sm btn-block" href="@Url.Action("Gallery", new { id = item.ProductId})">گالری تصاویر محصول</a>
				<a class="btn btn-warning btn-sm btn-block" href="@Url.Action("Edit",new { id = item.ProductId })">ویرایش محصول</a>
				<a class="btn btn-danger btn-sm btn-block" href="@Url.Action("Delete",new { id = item.ProductId })">حذف محصول</a>
			</td>
		</tr>
	}

</table>
