@model Models.ProductGroup

@{
	ViewBag.Title = "Edit";
	//Layout = "~/Views/Shared/Layouts/_Default.cshtml";
}

@using (Ajax.BeginForm("Edit", "ProductGroups", FormMethod.Post, new AjaxOptions()
{
	OnSuccess = "Success",
	UpdateTargetId = "listGroup",
}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(current => current.ParentId)

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.GroupId)

		<div class="form-group">
			@Html.LabelFor(model => model.GroupTitle, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.GroupTitle, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.GroupTitle, "", new { @class = "text-danger" })
			</div>
		</div>

		@*<div class="form-group">
				@Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ParentId, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
				</div>
			</div>*@

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="ثبت ویرایش" class="btn btn-warning" />
			</div>
		</div>
	</div>
}

