@using Models

@model Models.Product

@{
	string title = Model.ProductTitle;
	ViewBag.Title = title;
}

<h2>
	@title
</h2>

<div class="col-md-9 col-sm-8 left-side-content">
	<section class="single-page">
		<header><h3> @Model.ProductTitle </h3> </header>
		<article>

			<!-- Detail -->
			<div class="col-md-8 col-sm-12 col-xs-12 pull-left detail-product">
				<div>
					<span> قیمت : @Model.Price.ToString("#,0") تومان </span>
					<a onclick="AddToCart(@Model.ProductId)" class="add-to-card-link border-radius"> افزودن به سبد خرید </a>
				</div>
				<p>
					@Model.ShortDescription
				</p>
			</div>
			<!-- End Detail -->
			<!-- Gallery -->
			<div class="col-md-4 col-sm-12 col-xs-12 pull-right product-gallery">
				<div class="large-image border-radius">
					<img class="border-radius" src="~/Images/ProductImages/@Model.ImageName">
				</div>
				<div class="thumbnails-image">
					<div class="row">
						@*JQuery Lite Box*@
						@if (Model.ProductGalleries.Any())
						{
							foreach (var item in Model.ProductGalleries)
							{
								<div class="col-md-3 col-sm-3 col-xs-4 border-radius"><img class="border-radius" alt="@Model.ProductTitle" src="~/Images/ProductImages/Thumbnail/@item.ImageName"></div>
							}
						}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- End Gallery -->

			<div class="clearfix"></div>
		</article>
	</section>


	<div class="tabs-product margin-top-25">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#main-content"> توضیحات کامل </a></li>
			<li><a data-toggle="tab" href="#properties"> ویژگی ها </a></li>
			<li><a data-toggle="tab" href="#comments"> نظرات کاربران </a></li>
		</ul>

		<div class="tab-content ">

			<!-- description -->
			<div id="main-content" class="tab-pane fade in active">
				@Html.Raw(Model.Text);
			</div>
			<!-- End description -->
			<!-- Chart -->
			<div id="properties" class="tab-pane fade">
				<h3> ویژگی های محصول : </h3>
				@if (ViewBag.ProductFeature != null)
				{
					//IList<Feature> list = ViewBag.ProductFeatures;
					IList<ViewModels.ProductFeaturesViewModel> list = ViewBag.ProductFeature;

					foreach (var item in list)
					{
						<ul>
							<li>
								@item.FeatureTitle : @string.Join(" , ", item.Values)
							</li>
						</ul>
					}
				}
			</div>
			<!-- End Chart -->
			<!-- Comment -->
			<div id="comments" class="tab-pane fade">
				<div class="comment-layer" id="commentProduct">
					@Html.Action("_CreateComment")
					<ul class="comment-list" id="listComment">
						@Html.Action("_ShowComment")
					</ul>
				</div>
			</div>
			<!-- End Comment -->

		</div>
	</div>

	<section class="border-radius tags-layer">
		@if (Model.ProductTags.Any())
		{
			foreach (var item in Model.ProductTags)
			{
				<a href="#">
					@item.Tag
				</a>
			}
		}

	</section>


</div>

<script>
	function SuccessComment() {
		$("#Name").val("");
		$("#EmailAddress").val("");
		$("#Website").val("");
		$("#Comment").val("");
		$("#ParentId").val("");
	}

	function ReplayComment(id) {
		$("#ParentId").val(id);
		$("html, body").delay(2000).animate({ scrollTop: $("#commentProduct").offset().top }, 2000);
	}
</script>

